/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2017, 9:40:43 AM
    Author     : s1601402
*/

.root {
    -fx-background-image:url('file:C:/Users/s1601402/Desktop/joulukalenteri/JouluKalenteri/JouluKalenteri.jpg');
    -fx-background-repeat: no-repeat;
}

